<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" >

<head>

<title> Inicio </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
  <div th:insert="fragments/common :: navbar"></div>
  <p th:text="Bienvenido + ${currentUsername}"> </p>

  <div class="card-group">

    <tr th:each="cancion : ${canciones}">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Imagen" >
        <div class="card-body">
          <h5 class="card-title" th:text="${cancion.nombre}"></h5>
          <a class="btn btn-primary" th:href="@{'/listas/ver/lista_test_0/agregar/' + ${cancion.nombre}}">Agregar a lista_test_0</a>
        </div>
    </div>

    </tr>

  </div>


</body>
</html>
