<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" >

<head>

<title> Inicio </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
  <div th:insert="fragments/common :: navbar"></div>

  <div class="card-deck" style="padding: 1rem;">
    <tr th:each="publicacion : ${publicaciones}">
      <div class="container offset-md-3 pt-5">
      <div class="card" style=" min-width: 400px; max-width: 600px;">
          <div class="card-body">
            <h6 class="card-title" th:text="${publicacion.descripcion}"></h6>
          </div>
          <div class="card-footer bg-transparent">
            <div class="container pl-5">
            <a class="btn btn-info" role="button" th:href="@{'publicaciones/compartir/' + ${publicacion.idPublicacion}}">Compartir</a>
            <button class="btn btn-info" role="button" data-toggle="modal" data-target="#comentar"
                th:attr="data-publicacion=${publicacion.idPublicacion}"> Comentar </button>
            <button id="botonPlay" class="btn btn-success" role="button"
                th:attr="value=${publicacion.cancionPublicacion.archivo}" onclick="play(this.value)">Reproducir</button>
            <button class="btn btn-info" role="button" data-toggle="modal" data-target="#comentarios">Ver comentarios</button>
            </div>
          </div>
      </div>
    </div>
    </tr>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="comentar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Escribe tu comentario</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <textarea id="comentario" rows="3" cols="40" type="text" class="form-control" ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
          <a type="button" class="btn btn-success" id="guardar" onclick="insertar()">Guardar</a>
        </div>
      </div>
    </div>
  </div>


  <script th:inline="javascript">
    function insertar() {
      var comentario = document.getElementById('comentario').value;
      document.getElementById("guardar").href += "/comentar/" + comentario.toString();
    }
  </script>

  <div th:insert="fragments/common :: music-bar"></div>

</body>

<script>
$('#comentar').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var id = button.data('publicacion')
  document.getElementById("guardar").href = "/publicaciones/" + id.toString()
})
</script>

  <div th:insert="fragments/common :: scriptAudio"></div>


</html>
