<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" >

<head>

<title> Inicio </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
  <div th:insert="fragments/common :: navbar"></div>

  <div class="container pt-5">
  <h2 th:text="Bienvenido + ' ' + ${currentUsername}"> </h2>
  </div>

  <div class="card-deck" style="padding: 1rem;">
    <tr th:each="cancion : ${canciones}">
      <div class="card" style="padding: 2rem; min-width: 300px;">
          <div class="card-body">
            <h6 class="card-title" th:text="${cancion.nombre}"></h6>
            <!-- <button class="btn btn-info" role="button" data-toggle="modal" data-target="#agregar"
                th:attr="data-cancion=${cancion.nombre}"> Agregar a una lista </button> -->
            <button id="botonPlay" class="btn btn-success" role="button"
                th:attr="value=${cancion.archivo}" onclick="play(this.value)">Reproducir</button>
          </div>
      </div>
    </tr>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="agregar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Escoge una lista para agregar</h5>
        </div>
        <div class="modal-body">
          <h6 class="modal-cancion" id="seleccionada"> Cancion </h6>
          <div class="form-group">
            <div th:if="${hayListas}">
              <select class="form-control" id="agregarListas">
                <div th:each="lista : ${listas}">
                <option th:value="${lista.listaID.nombreLista}" th:text="${lista.listaID.nombreLista}"></option>
                </div>
              </select>
            </div>
            <div th:unless="${hayListas}" >
              <a type="button" class="btn btn-secondary" href ="listas/ver/"> Crear una lista </a>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div th:if="${hayListas}">
            <a type="button" class="btn btn-success" id="guardar" onclick="insertar()">Guardar</a>
          </div>
          <a type="button" class="btn btn-secondary" href="/" >Cancelar</a>
        </div>
      </div>
    </div>
  </div>


  <script th:inline="javascript">
    function insertar() {
      var cancion = document.getElementById('seleccionada').innerHTML;
      var lista = $('#agregarListas').find("option:selected").val();
      document.getElementById("guardar").href = "/listas/ver/" + lista + "/agregar/" + cancion;
    }
  </script>

  <div th:insert="fragments/common :: music-bar"></div>

</body>

  <div th:insert="fragments/common :: scriptAudio"></div>

  <script>
  $('#agregar').on('show.bs.modal', function (event) {
      var boton = $(event.relatedTarget)
      var cancion = boton.data('cancion');
      var modal = $(this)
      modal.find('.modal-cancion').text(cancion)
  })
  </script>


</html>
