<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" >

<head>

<title> Inicio </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
  <div th:insert="fragments/common :: navbar"></div>

  <div class="container pt-5 offset-lg-5">
    <button class="btn btn-info" role="button" data-toggle="modal" data-target="#crearPublicacion">Crear Publicación</button>
  </div>

  <div th:if="${hayPublicaciones}">
    <div class="card-deck" style="padding: 1rem;">
      <tr th:each="publicacion : ${publicaciones}">
        <div class="container offset-md-3 pt-5">
        <div class="card" style=" min-width: 400px; max-width: 600px;">
            <div class="card-body">
              <h6 class="card-title" th:text="${publicacion.descripcion}"></h6>
              <h6 th:utext="'Cancion: ' +  ${publicacion.cancionPublicacion.nombre}"> </h6>
              <div th:if="${current.correo == publicacion.usuarioPublicacion.correo}">
                <button class="btn btn-danger offset-lg-10" role="button" data-toggle="modal" data-target="#confirmar"
                th:attr="data-publicacion=${publicacion.idPublicacion}, data-accion=eliminar"> Eliminar </button>
              </div>
            </div>
            <div class="card-footer bg-transparent">
              <div class="container offset-lg-2">
                <!-- El creo la publicacion, entonces la puede eliminar -->
                <button class="btn btn-info" role="button" data-toggle="modal" data-target="#comentar"
                    th:attr="data-publicacion=${publicacion.idPublicacion}"> Comentar </button>
                <button id="botonPlay" class="btn btn-success" role="button"
                    th:attr="value=${publicacion.cancionPublicacion.archivo}" onclick="play(this.value)">Reproducir</button>
                <a class="btn btn-info" role="button" th:href="@{'/inicio/ver/' + ${publicacion.idPublicacion} }">Ver comentarios</a>
                </div>
            </div>
        </div>
      </div>
      </tr>
    </div>
  </div>
  <div th:unless="${hayPublicaciones}">
    <h3> No hay publicaciones </h3>
  </div>

  <!-- Popup para agregar un comentario -->
  <div class="modal fade" tabindex="-1" role="dialog" id="comentar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Escribe tu comentario</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <textarea id="comentario" rows="3" cols="40" type="text" class="form-control" ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
          <a type="button" class="btn btn-success" id="guardar" onclick="insertar()">Guardar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup para confirmar una accion (eliminar, compartir)-->
  <div th:insert="fragments/common :: confirmar-popup"></div>

  <!-- Popup para crear una publicacion -->
  <div id="crearPublicacion" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-xs-center">Crea una publicacion</h4>
              </div>
              <div class="modal-body">

                      <div class="form-group">
                          <label class="control-label">Descripcion</label>
                          <div>
                              <textarea id="descripcion" rows="3" cols="40" type="text" class="form-control" required></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label">Selecciona la canción a compartir</label>
                          <div>
                            <select class="form-control" id="cancionPublicar" >
                                <div th:each="cancion : ${canciones}">
                                  <option th:value="${cancion.nombre}" th:text="${cancion.nombre}"></option>
                                </div>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div>
                              <a id="publicarBoton" class="btn btn-info btn-block" onclick="publicar()">Publicar</a>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </div>



  <!-- Se quiere guardar el comentario -->
  <script th:inline="javascript">
    function insertar() {
      var comentario = document.getElementById('comentario').value;
      document.getElementById("guardar").href += "/" + comentario.toString();
    }
  </script>

  <div th:insert="fragments/common :: music-bar"></div>

  <!-- Obtiene la descripcion y la cancion de la nueva publicacion -->
  <script th:inline="javascript">
     function publicar() {
       var cancion = $('#cancionPublicar').find("option:selected").val();
       var descripcion = document.getElementById('descripcion').value
       document.getElementById("publicarBoton").href = "/inicio/publicacion/crear/" + cancion.toString() + "/" + descripcion.toString();
     }
   </script>


</body>

<!-- Se abrio el popup para añadir un comentario -->
<script>
$('#comentar').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var id = button.data('publicacion')
  document.getElementById("guardar").href = "/inicio/comentar/" + id.toString()
})
</script>

<!-- Se abrio el popup para confimar si elimina o comparte -->
<script>
$('#confirmar').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var accion = button.data('accion')
  var idPublicacion = button.data('publicacion')
  document.getElementById("aceptarPopup").href = "/inicio/publicaciones/" + accion.toString() + "/" + idPublicacion.toString()
})
</script>

  <div th:insert="fragments/common :: scriptAudio"></div>


</html>
