<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Registrate</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </head>

  <body>

<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
  <div class="container pt-5">
        <form th:action="@{/signup}" th:object = "${persona}"  method="POST">
            <h2 class="form-signin-heading pb-3 text-center">Registrate</h2>

                <div th:if="${#fields.hasErrors('correo')}">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p th:errors="*{correo}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div th:if="${#fields.hasErrors('nombre')}">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p th:errors="*{nombre}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="form-group">
                    <input type="email" path="correo" class="form-control" placeholder="Correo electronico"
                                autofocus="true" th:field="*{correo}" title="Ingresa un correo valido" required></input>
                </div>

                <div class="form-group">
                    <input type="text" path="nombre" class="form-control" placeholder="Nombre de usuario"
                        autofocus="true" th:field="*{nombre}" title="Debe tener una longitud de al menos 6 caracteres y maximo 32"
                        pattern=".{6,32}"  required></input>
                </div>

                <div class="form-group">
                    <input id="password" type="password" path="password" class="form-control" placeholder="Contraseña" th:field="*{password}" pattern=".{8,}"
                    title="La contraseña debe ser de al menos 8 caracteres" required></input>
                </div>

                <div class="form-group">
                    <input id="passwordConfirm" type="password" path="passwordConfirm" class="form-control"
                      placeholder="Confirma la contraseña" title="La contraseña debe ser de al menos 8 caracteres"
                      pattern=".{8,}" required></input>
                </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
        </form>
      </div>
    </div>

    <script>
    var password = document.getElementById("password");
    var passwordConfirm = document.getElementById("passwordConfirm");

    function validatePassword(){
      if(password.value != passwordConfirm.value) {
        passwordConfirm.setCustomValidity("No coinciden las entradas");
      } else {
        passwordConfirm.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    passwordConfirm.onkeyup = validatePassword;
    </script>

  </body>
</html>
