<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title> Subir cancion </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <div th:if="${esAdmin}">
    <div th:insert="fragments/common :: navbar-admin"></div>
  </div>
  <div th:unless="${esAdmin}">
    <div th:insert="fragments/common :: navbar"></div>
  </div>

<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
  <div class="container pt-5">

  <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <h1 class="form-signin-heading pb-3 text-center"> Sube una cancion </h1>

    <div th:if="${message}">
      <div class="container pt-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p th:text="${message}"> </p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div th:if="${error != null}">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p th:text="${error}"> </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- SI VA A SUBIR LA CANCION UN ADMINISTRADOR EL AUTOR ES UN ARTISTA -->
    <div th:if="${esAdmin}">
      <div th:if="${hayArtistas}">
        <h5> Selecciona un artista </h5>
        <div class = "container pb-3">
        <select class="form-control" name="autor" required>
          <option value="">Selecciona un artista</option>
          <div th:each="artista : ${artistas}">
          <option th:value="${artista.nombre}" th:text="${artista.nombre}"></option>
          </div>
        </select>
      </div>
      </div>
      <div th:unless="${hayArtistas}">
        <h5> No existen artistas, para subir una cancion debes seleccionar un artista </h5>
        <div class="container pt-3">
          <button class="btn btn-info" role="button" data-toggle="modal" data-target="#guardarArtista"> Agregar artista </button>
        </div>
      </div>
    </div>

    <!-- SI EL USUARIO VA A SUBIR UNA CANCION, ENTONCES EL AUTOR ES EL USUARIO -->
    <div th:unless="${esAdmin}">
      <input type="hidden" name="autor" value=" ">
    </div>

    <div class="form-group">
        <h5> Nombre </h5>
          <input type="text" name="nombreCancion" path="nombreCancion" class="form-control" placeholder="Nombre de la cancion"
              autofocus="true" title="Debe tener una longitud de al menos 6 caracteres y maximo 30"
              pattern=".{6,30}"  required></input>
    </div>

    <div th:if="${hayArtistas or not esAdmin}">
      <input type="file" class="pt-2" name="file" accept=".mp3" required/> <br></br>
      <button class="btn btn-success" type="submit">Subir</button>
    </div>

  </form>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="guardarArtista">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ingresar un artista</h5>
      </div>
      <div class="modal-body">
        <label for="message-text" class="col-form-label">Nombre:</label>
        <input class="form-group" type="text" id="artista" required></input>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-success" id="guardar" onclick="crear()">Guardar</a>
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div>


<script th:inline="javascript">
function crear(){
  var artista = document.getElementById("artista").value;
  if (artista == ""){
    return;
  }
  document.getElementById("guardar").href = "/admin/artistas/agregar/" + artista.toString();
}
</script>

</body>
</html>

>
</html>
